<h1 *ngIf="!client.id">New Client</h1>
<h1 *ngIf="client.id">{{client.name}}</h1>
<form (ngSubmit)="submit()">
  <div class="wrapper">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" class="form-control" [(ngModel)]="client.name" name="name" aria-label="...">
    </div>
    <div class="form-group">
      <label for="NationalId">National Id</label>
      <input id="NationalId" type="text" class="form-control" [(ngModel)]="client.nationalId" name="nationalId" aria-label="...">
    </div>
    <div class="form-group">
      <label for="MobileNumber">Mobile Number</label>
      <input id="MobileNumber" type="text" class="form-control" [(ngModel)]="client.mobileNumber" name="mobileNumber" aria-label="...">
    </div>
  </div>
  <button class="btn btn-primary">Save</button>
  <button *ngIf="client.id" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
</form>
<div *ngIf="client.id">
  <hr />
  <p>
    <a [routerLink]="['/installment/new/'+client.id]" class="btn btn-primary">Add Installment</a>
  </p>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>Device Name</th>
        <th>Payment Scheme</th>
        <th>Remaining</th>
        <th>Next Payment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of client.installments">
        <td><a [routerLink]="['/installment/', i.id]">{{ i.deviceName }}</a></td>
        <td>{{ i.paymentScheme}}</td>
        <td>{{ i.remaining}}</td>
        <td>{{ i.nextPayment | date}}</td>
      </tr>
    </tbody>
  </table>
</div>

