@model IEnumerable<Installment>
@{
    ViewBag.Title = "الرئيسية";
}
<h2>المتأخرون عن دفع القسط</h2>
<br />

@if (!Model.Any())
{
    <br />
    <br />
    <p>لايوجد متأخرين</p>
}
else
{
    <br />
    <br />
    <table id="employees" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="not_mapped_style" style="text-align:right">الأسم</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
}