/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
.btn {
  margin: 2px;
  margin-top: 8px;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
input[type="text"] {
  width: 400px;
  min-height: 40px;
  height: auto;
}
input[type="date"] {
  width: 400px;
  min-height: 40px;
  height: auto;
}
.input-group {
  width: 400px;
  min-height: 40px;
  height: auto;
}
.wrapper {
  display: grid;
  grid-template-columns: 500px 500px;
}
