<h1>المتأخر</h1>
<br />
<table class="table">
  <thead>
    <tr>
      <th>اسم الجهاز</th>
      <th>عدد الأشهر</th>
      <th>الباقى</th>
      <th>الدفع القادم</th>
      <th>اسم العميل</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of installments">
      <td><a [routerLink]="['/installment/', i.id]">{{ i.deviceName }}</a></td>
      <td>{{ i.paymentScheme}}</td>
      <td>{{ i.remaining}}</td>
      <td>{{ i.nextPayment | date}}</td>
      <td><a [routerLink]="['/client/', i.clientId]">{{ i.clientName }}</a></td>
    </tr>
  </tbody>
</table>
