<h1>العملاء</h1>
<p>
  <a [routerLink]="['/client/new']" class="btn btn-primary">إضافة عميل</a>
</p>
<br/>
<p>
  <label for="search"></label>
  <input id="search" type="text" (keyup)="applyFilter()" [(ngModel)]="filterValue">
</p>
<table class="table">
  <thead>
    <tr>
      <th>الاسم</th>
      <th>الرقم القومى</th>
      <th>الموبايل</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of clients">
      <td><a [routerLink]="['/client/', c.id]">{{ c.name }}</a></td>
      <td>{{ c.nationalId}}</td>
      <td>{{ c.mobileNumber }}</td>
    </tr>
  </tbody>
</table>
